html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;  
}

body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 1.5rem;
  color:rgb(3, 3, 71);
}
a {
  text-decoration: none;
  color: rgb(3, 3, 71);
}
a:hover {
  color: rgb(88, 88, 197); 
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  background:none;
}
.container {
  display: flex;
  min-height: 100vh;
}
.nav {
  width:8.4rem;
  padding: 0 8rem 0 2.5rem;
  display:none;
}
.nav-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-content li {
  padding: 0.5rem 0;
}

.content{
    padding-left:1rem;
}
.content div {
  width: 80%;
  height: 100vh;
  padding-top: 5.25rem;
}

.contents div:nth-child(even) {
  background: #f1f1f1;
}

.nav-menu{
  position: fixed;
  top: 0px;
  right: -200px;
  width: 160px;
  height: 100vh;
  padding: 20px 10px 0 10px;
  background:#b1afaf;
  display: block;
}
.nav-menu-toggle{
  position: fixed;
  top: 0px;
  right: 0px;
  margin:3;
  z-index:100;
  display: block;
}

.nav-menu-open{
  animation: menu-open 1s;
  animation-fill-mode: forwards;
}
.nav-menu-close{
  animation: menu-close 1s;
  animation-fill-mode: forwards;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html {
    font-size: 18px;
  }
  .nav{
    display: none;
  }
  .nav-menu{
    display: block;
  }
  .nav-menu-toggle{
    display: block;
  }
}
  }

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .nav{
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu-toggle{
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  .nav{
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu-toggle{
    display: none;
  }
}
@media only screen and (min-width: 2048px) {
  html {
    font-size: 22px;
  }
  .nav{
    display: block;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu-toggle{
    display: none;
  }
}

@keyframes menu-open{
  0% {transform:translateX(300px)}
  100% {transform:translateX(-200px)}
}

@keyframes menu-close{
  0% {transform:translateX(-200px)}
  100% {transform:translateX(300px)}
}