* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}
h1 {
  font-size: 1rem;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #f0f0f0;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.active {
  border-bottom: 1px solid #f0f0f0;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
.container {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 8.4rem;
  background: #888888;
  position: fixed;
  top: 0px;
  right: -200px;
  height: 100vh;
  padding: 32px 10px 0 10px; /*for mobile*/
}
.sidebar-content {
  position: fixed;
}
.sidebar-content-item {
  list-style-type: none;
  margin: 0;
  padding: 8px 0 0 0;
}

.sidebar-content-item li {
  padding: 0.5rem 0;
}

.content {
  padding-left: 3rem;
}
.content div {
  width: 80%;
  height: 100vh;
  padding-top: 5.25rem;
}

.sidebar-menu-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 3;
  z-index: 100;
  display: block;
}

.sidebar-menu-open {
  animation: menu-open 1s;
  animation-fill-mode: forwards;
}
.sidebar-menu-close {
  animation: menu-close 1s;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .sidebar {
    padding: 30px 10rem 0 2.5rem;
    width: 8.4rem;
    position: static;
    display: block;
    height: auto;
  }
  .sidebar-content-item {
    padding: 24px 0 0 0;
  }
  .sidebar-menu,
  .sidebar-menu-toggle {
    display: none;
  }
  .sidebar-menu-open,
  .sidebar-menu-close {
    animation: none;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  .sidebar {
    padding: 30px 10rem 0 2.5rem;
    width: 8.4rem;
    position: static;
    display: block;
    height: auto;
  }
  .sidebar-content-item {
    padding: 24px 0 0 0;
  }
  .sidebar-menu,
  .sidebar-menu-toggle {
    display: none;
  }
  .sidebar-menu-open,
  .sidebar-menu-close {
    animation: none;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 22px;
  }
  .sidebar {
    padding: 30px 10rem 0 2.5rem;
    width: 8.4rem;
    position: static;
    display: block;
    height: auto;
  }
  .sidebar-content-item {
    padding: 24px 0 0 0;
  }
  .sidebar-menu,
  .sidebar-menu-toggle {
    display: none;
  }
  .sidebar-menu-open,
  .sidebar-menu-close {
    animation: none;
  }
}

@keyframes menu-open {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes menu-close {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(300px);
  }
}
