* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}
h1 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #f0f0f0;
}
h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #57b68a;
  padding: 0;
}
h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 0;
  margin: 10px 0 10px 5px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #f0f0f0;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #f0f0f0;
  border-bottom: 1px solid rgba(240, 240, 240, 0.3);
}
.active {
  border-bottom: 1px solid rgba(240, 240, 240, 0.3);
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}
img {
  width: 100%;
  height: auto;
}

/* Gradient color1 - color2 - color1 */

hr {
  border: 0;
  height: 1px;
  background: #57b68a;
  background-image: linear-gradient(to right, #ccc, #57b68a, #ccc);
}

.link-button {
  text-transform: none;
  padding: 0.5rem 1rem;
  background: #57b68a;
  border-radius: 8px;
  text-align: center;
}
.link-button:hover {
  background: #418a68;
}
.link-button:active {
  position: relative;
  top: 1px;
}
.container {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 160px;
  background: #57b68a;
  position: fixed;
  top: 0px;
  right: -200px;
  height: 100vh;
  padding: 32px 0 0 20px; /*for mobile*/
}
.sidebar-content {
  position: fixed;
}
.sidebar-content-intro {
  width: 160px;
  font-size: 0.7rem;
  color: #f0f0f0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(240, 240, 240, 0.3);
  display: none;
}
.sidebar-content-items {
  list-style-type: none;
  margin: 0;
  padding: 8px 0 0 0;
}

.sidebar-content-item {
  padding: 0.5rem 0;
}
.sidebar-content-item-submenu {
  padding-left: 1.5rem;
}
.content {
  padding-left: 3rem;
  width: 80%;
}

/* .content div { */
/* width: 80%;   */
/* padding: 5.25rem 0 40px 0; */
/* } */
.about-me {
  height: 100vh;
}

.about-me,
.content {
  padding-top: 5rem;
}

.sidebar-menu-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 3;
  z-index: 100;
  display: block;
}

.sidebar-menu-open {
  animation: menu-open 0.5s;
  animation-fill-mode: forwards;
}
.sidebar-menu-close {
  animation: menu-close 0.5s;
  animation-fill-mode: forwards;
}
.toggle-close {
  fill: #57b68a;
}
.toggle-open {
  fill: #f0f0f0;
}

.project {
  padding-top: 5rem;
}
/* .projects > p:not(:first-child){  */
/* padding-top:40px; */
/* } */

.projects-heading-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .sidebar {
    padding: 30px 212px 0 52px;
    width: 8.4rem;
    position: static;
    display: block;
    height: auto;
  }
  .sidebar-menu,
  .sidebar-menu-toggle {
    display: none;
  }
  .sidebar-menu-open,
  .sidebar-menu-close {
    animation: none;
  }
  .sidebar-content-intro {
    display: block;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 2048px) {
  html {
    font-size: 22px;
  }
}

@keyframes menu-open {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes menu-close {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(300px);
  }
}
